/*
FOR THE ADVICE MAKE A PRETTY PURPLE OR SOMETHING LIGHT PAGE. 
MAKE A BOX FOR THE ADVICE AND A BUTTON. SHOULD BE SIMPLE. 
*/

nav{
    background-color: white;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 2px 3px 3px grey;
    text-shadow: 1px 1px black;
    /* text-align: center; */
}

.links a{
    float: left;
    /* ask why this is needed */
    color: BLACK;
    /* text-align: center; */
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
  }

  .button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }