/*
FOR THE ADVICE MAKE A PRETTY PURPLE OR SOMETHING LIGHT PAGE. 
MAKE A BOX FOR THE ADVICE AND A BUTTON. SHOULD BE SIMPLE. 
*/

nav{
    background-color: white;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 2px 3px 3px grey;
    text-shadow: 1px 1px black;
    /* text-align: center; */
}

.links a{
    float: left;
    /* ask why this is needed */
    color: BLACK;
    /* text-align: center; */
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
  }