body{
    margin:auto;
    width:100%;
    background-image: url("https://i.gifer.com/5Dzg.gif");
    background-repeat:no-repeat;
    background-color: black;
    background-size: 2000px 650px;
    color:snow;
}

nav{
    background-color: white;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 3px 2px grey;
    text-shadow: 1px 1px black;
    /* text-align: center; */
}

.links a{
    float: left;
    color: BLACK;
    /* text-align: center; */
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
  }

label{
  display: block;
  margin: auto
}

  .button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(rgb(145, 92, 182), pink );
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

h1{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 2px 2px black;
}

p{
  text-shadow: 1px 1px 1px black;
}

#fortune{
    text-shadow: 2px 2px 2px black;
    /*I have it here 3 times because I wanted it rounded*/
    font-size: 24px;
    text-align: center;
}

#buttonContainer{
    width: fit-content;
    margin:auto;
    margin-top:20%;
}



/*Change background with media*/
                     /*MEDIA*/
/* Media queries */
    
    @media (max-width: 798px){
      .button{
        display: visible;
        padding:8px;
        font-size: xx-small;
      } 

      nav{
        font-size:small;
      }

      H1{
        font-size:large;
      }

      #fortune{
        font-size: medium;
      }
      body{
      grid-template-columns: 1 fr;
      width: 677.6875px ;
      color:aqua;
      margin:auto;
      background-size: auto
    }
    }
    
    @media (max-width: 1000px){
      body{
        background-size: 900px 400px;
      }
    }

    @media (max-width: 1200px){
      body{
        background-size: 1200px 450px;
      }
    }
