body{
  background-color: white;
  color: #1486d1;
}

main{
  padding:10px;
  margin:auto;
  width:50%;
}

nav{
    background-color: white;
    overflow: hidden;
    display: flex;
    box-shadow: 2px 2px 3px 3px grey;
    text-shadow: 1px 1px black;
    width:100%;
   
}

/* Photo buttons */

.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-evenly;
  padding: 15px 40px;
}



input{
  width:450px
}
   
button{
  margin:auto; 
  padding: 0;
  cursor: pointer;
  background: none;
  border:none;
}

button:hover {
  color:white;
  box-shadow: 0px 0px 15px rgb(93, 47, 116);
}

.links a{
  float: left;
  /* ask why this is needed */
  color:#31aec7;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 25px;
}
 /* MY Modal section */

.modal{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(98, 95, 95, 0.436);
  z-index: 1000;
  overflow:auto;
  display:none;
  justify-content: center;
  align-items:center;
}

.modal.modal-show {
  animation: fadeIn 0.1s ease-in-out forwards;
}
.modal.modal-hide {
  animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}

.modal-content{
  background-color: whitesmoke;
  width: 60%;
  max-height: 80%;
  /* change to look cute */
  margin: 15px;
  padding: 15px;
  border-radius: 0.50rem;
  box-shadow: 0 5px 20px black;
  overflow:auto;
  position:relative;
}

.modal.modal-show .modal-content {
  animation: fadeInDown 0.3s ease-in-out forwards;
}
.modal.modal-hide .modal-content {
  animation: fadeOutUp 0.2s ease-in-out forwards;
}

.modal-content h3{
  text-align: center;
  margin-bottom: 12px;
  font-weight: bolder;
  font-size: large;
  color:rgb(145, 92, 182)
}

.modal-content p{
  margin: 1px 0;
  line-height: 15px;
  margin-bottom: 20px;
  line-height: 2;
  /*This creates space between the lines*/
}
.modal-content strong{
  color:#31aec7;
}

.modal-close{
  position: absolute;
  top:0;
  right:0;
  padding: 2px;
  font-weight: bolder;
  cursor:pointer;
  color:#841ea9;
  user-select: none;
  font-size: small;
}

.modal-close:hover, modal-close:focus{
  color: #841ea9a9
}



                     /*MEDIA*/
@media(max-width: 992px) {
  html { font-size: 14px; }
  .modal-content { 
  width: 80%; 
}
input{
  height:100px;
  width:100px;
  margin: auto;
  text-align: center;
}
#info{
  text-align: center;
  font-size: large;
  color: rgb(245, 247, 249);
  animation: glow 1s ease-in-out infinite alternate;
  }
} 

@media(max-width:767px) {
  html { font-size: 12px; }
  .modal-content { 
  padding: 2rem 1rem 1rem 1rem; width: 90%; 
}
  .modal-content h1 { 
  margin-bottom: 1.5rem; 
}
  nav{
    font-size: xx-small;
  }
  input{
    height:100px;
    width:100px;
    margin: auto;
    text-align: center;
  }
    #info{
  text-align: center;
  font-size: large;
  color: rgb(245, 247, 249);
  animation: glow 1s ease-in-out infinite alternate;
  }

   button{
    margin-top: 16% ;
   }
 
}


  @media (max-width: 1076px){
    input{
      margin-top: 40%;
      height:150px;
      width:150px;
      margin: auto;
      text-align: center;
    }
      #info{
    margin-top:5%;
    margin-bottom: 5%;
    text-align: center;
    color: rgb(245, 247, 249);
    animation: glow 1s ease-in-out infinite alternate;
    }
   
  }

  /* GLOW KEY FRAME*/

  h1{
    text-align: center;
    font-size: 80px;
    color: rgb(245, 247, 249);
    animation: glow 1s ease-in-out infinite alternate;
    }

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1486d1, 0 0 40px #1486d1, 0 0 50px #1486d1, 0 0 60px #841ea9, 0 0 70px #841ea9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #841ea9, 0 0 40px #841ea9, 0 0 50px #841ea9, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-3rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }
  @keyframes fadeOutUp {
    0% { 
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-3rem);
    }
  }

  /* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  height: 2px;
 
}

::-webkit-scrollbar-thumb {
  background: rgba(184, 102, 197, 0.579);
  border-radius: 10px;
}